
mixin device-details(details)
	div(id=details.index).device(onclick="clickDevice(this);")
		div.header
			h3.dev-name=details.device.TYPE
		div.detail
			table.device-details
				tr
					td.key Manufacturer
					td.val=details.device.MFG
				tr
					td.key Model
					td.val=details.device.MODEL
				tr
					td.key SN#
					td.val=details.device.SN
				tr.hidden
					td.key UID
					td.val=details.device.UID
